{% extends 'base.html' %} 
{% load static %} 
{% load bootstrap3 %} 
{% block content %}


{% include "navbar.html" %}
<br>
<br>
<br>
<div class="container" class="responsive">

<h1 style="background-color:white; font-family: 'ABeeZee', sans-serif; margin-left:20rem; color: black;"><strong>{{ project.title }}</strong></h1>
<hr>
 


<div class="card mb-3" style="width:40rem; font-family: 'ABeeZee', sans-serif; margin-left:10px;">

  <a href="www.google.com"><img class="card-img-top" src="{{project.image.url}}" alt="Card image cap" class="img-fluid" size="100px200"></a>

  <div class="card-body" style="padding-left:150px;">


<br>
<br>
<br>
<br>
    <p class="card-text" style="font-family: 'ABeeZee', sans-serif;"><strong><h2 style="font-family: 'ABeeZee', sans-serif; color: black;">Project Description </h2></strong>
      <hr>
      <br>
      {{project.description}}</p>
      
  </div>
  <br>
  <br>
  <br>
  <br>
  
     


     <div class="card-body text-primary">
<h4>
        {{ review.project.title }}
        
        </h4>

    
    <br>
    <br>
    <br>
    <br>



<h2 style="color: black;font-family: 'ABeeZee', sans-serif;; margin-left:10rem;"><strong>Reviews</strong></h2>
<hr>
<br>

<h5 style="color: black; font-family: 'ABeeZee', sans-serif; margin-left:150px;" >{{ project.reviews.count }} reviews ({{ project.average_design | floatformat }} average rating of design)</h5>
<h5 style="color: black; font-family: 'ABeeZee', sans-serif; margin-left:150px;">{{ project.reviews.count }} reviews ({{ project.average_content | floatformat }} average rating of content)</h5>
<h5 style=" color: black;font-family: 'ABeeZee', sans-serif; margin-left:150px;">{{ project.reviews.count }} reviews ({{ project.average_usability | floatformat }} average rating of usability)</h5>
<br>
<br>
<h2 style=" color: black; font-family: 'ABeeZee', sans-serif; margin-left:9rem;"><strong>Add your comment</strong></h2>
  <hr>
  <form action=""  method="post" style=" color: black;font-family: 'ABeeZee', sans-serif; margin-left:9rem;">
    {%csrf_token%} {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Post">
  </form>
  <hr>

</div>

<div class="card-header">
  <h5 style="font-family: 'ABeeZee', sans-serif;"><strong>Comments</strong></h5>
   <hr>
    </div>

    <div>

<p style="color:black; font-family: 'ABeeZee', sans-serif;">Comment by {{ review.user }}: {{ review.user.comment }}</p>
   </div>


   <div class="card border-secondary">
     </div>
   </div>

</div>
</div>


{% endblock %}