{% extends 'base.html' %} 
{% load static %} 
{% load bootstrap3 %} 
{% block content %}


{% include "navbar.html" %}
<br>
<br>
<br>


<h1 style="background-color:white; font-family: 'ABeeZee', sans-serif; margin-left:10px;">{{ project.title }}</h1>
 


<div class="card mb-3" style="width:40rem; font-family: 'ABeeZee', sans-serif; margin-left:10px;">
  <a href="www.google.com"><img class="card-img-top" src="{{project.image.url}}" alt="Card image cap" class="img-fluid" size="100px200"></a>
  <div class="card-body">


<br>
<br>
<br>
<br>
    <p class="card-text" style="font-family: 'ABeeZee', sans-serif;"><strong>Description Of Project:</strong>
      <br>
      {{project.description}}</p>
  </div>
  <br>
  <br>
  <br>
  <br>
  <div class="card border-secondary">
     <div class="card-header">
     <h5 style="font-family: 'ABeeZee', sans-serif;"><strong>Comments</strong></h5>
       </div>


     <div class="card-body text-primary">
<h4>
        {{ review.project.title }}
        </h4>

    <div>

  <p style="color:black; font-family: 'ABeeZee', sans-serif;">Comment by {{ review.user }}: {{ review.user.comment }}</p>
    </div>
    <br>
    <br>
    <br>
    <br>



<h1 style="color:black; font-family: 'Dosis', sans-serif;">REVIEWS</h1>


<h5 style="color: black; font-family: 'ABeeZee', sans-serif;">{{ project.reviews.count }} reviews ({{ project.average_design | floatformat }} average rating of design)</h5>
<h5 style="color: black; font-family: 'ABeeZee', sans-serif;">{{ project.reviews.count }} reviews ({{ project.average_content | floatformat }} average rating of content)</h5>
<h5 style=" color: black;font-family: 'ABeeZee', sans-serif;">{{ project.reviews.count }} reviews ({{ project.average_usability | floatformat }} average rating of usability)</h5>

<h3 style=" color: black; font-family: 'ABeeZee', sans-serif;">Add your comment</h3>
  <hr>
  <form action=""  method="post" style=" color: black;font-family: 'ABeeZee', sans-serif;">
    {%csrf_token%} {% bootstrap_form form %}
      <input type="submit" class="btn btn-primary" value="Post">
  </form>
  <hr>

</div>




     </div>
   </div>

</div>



{% endblock %}